extends ./layout
block body
  .slider.slider-dark
    .slide(data-image='https://images5.alphacoders.com/568/568653.jpg')
      a.arrow-prev(href='#')
        i.icon-arrow-prev
      .slide-container
        .title Green Something
        p
          | A whole new way to travel around the country
          br
          | It's totally easy you'll appreciate it
      a.arrow-next(href='#')
        i.icon-arrow-next

  .centered-highlight
      .underlay
      .thumbnail(style='background-image: url(https://pbs.twimg.com/profile_images/633782900077408256/F541mrSs_400x400.jpg)')
      .text-wrapper
        h3 What is Lorem Ipsum
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
      img(src='http://wallpaperres.com/wp-content/uploads/Road-Nature-Ultra-HD-Wallpaper-06.jpg')


  .featured-items
    .item.col-8-sm-pt.col-6-sm-ls.col-4.centered
      .thumbnail(style='background-image: url(https://pbs.twimg.com/profile_images/633782900077408256/F541mrSs_400x400.jpg)')
      .text-wrapper
        h3 What is Lorem Ipsum
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        a.read-more-button(href='http://prismic.io')
          | Explore
    .item.col-8-sm-pt.col-6-sm-ls.col-4.centered
      .thumbnail(style='background-image: url(https://pbs.twimg.com/profile_images/633782900077408256/F541mrSs_400x400.jpg)')
      .text-wrapper
        h3 What is Lorem Ipsum
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        a.read-more-button(href='http://prismic.io')
          | Explore
    .item.col-8-sm-pt.col-6-sm-ls.col-4.centered
      .thumbnail(style='background-image: url(https://pbs.twimg.com/profile_images/633782900077408256/F541mrSs_400x400.jpg)')
      .text-wrapper
        h3 What is Lorem Ipsum
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
        a.read-more-button(href='http://prismic.io')
          | Explore

  .alternated-highlights
    .item.alternate
      .text-wrapper
        .head-text
          .thumbnail(style='background-image: url(https://pbs.twimg.com/profile_images/633782900077408256/F541mrSs_400x400.jpg)')
          h3 Lorem Ipsum is simply dummy text of the printing
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
          br
          br
          | But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages
      .image-container.centered
        img(src='http://wallpaperbeta.com/wallpaper_3840x2160/nature_forest_road_way_trees_photo_ultra_3840x2160_hd-wallpaper-80462.jpg')
    .item
      .image-container.centered
        img(src='http://www.hdwallpap.com/wp-content/uploads/2014/02/uphill-road-wide.jpg')
      .text-wrapper
        .head-text
          .thumbnail(style='background-image: url(https://pbs.twimg.com/profile_images/633782900077408256/F541mrSs_400x400.jpg)')
          h3 Lorem Ipsum is simply dummy text of the printing
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
          br
          br
          | But also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages

